@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

/* To center social icons verically */
.centered-y {
  @apply absolute top-[50%] translate-y-[-50%]
};

/* For sections padding */
.margin-x {
  @apply mx-10 md:mx-[24px] lg:mx-32
}

.social__icons {
  @apply flex flex-row gap-3 h-4 mt-3 md:h-14 lg:h-[70px] lg:flex-col lg:absolute lg:top-56 lg:left-10
}

.nav__links-hover {
  @apply hover:font-semibold hover:text-[#ff869e]
}

.hero {
  @apply max-w-[1440px] overflow-hidden
}

.hero__text-container {
  @apply h-[100vh] mt-24 lg:mt-28
}

.hero__title {
  @apply font-extrabold text-4xl mt-2 tracking-widest leading-snug drop-shadow-3xl md:text-5xl md:leading-[70px] lg:leading-[100px] lg:text-7xl lg:mt-[2px];
}

.hero__subtitle {
  @apply text-[#4B4B4B] font-extralight text-base md:text-lg lg:text-xl;
}

.hero__button {
  @apply bg-[#55CDFC] text-white rounded-lg text-base font-bold px-2 py-3 mt-8 md:text-xl lg:text-2xl md:mt-10
}

.hero__image {
  @apply object-contain absolute top-28 -right-36 h-[455px] md:h-[550px] lg:h-[596px] lg:top-24 lg:-right-72
}

 .hero__section-overlay {
  @apply bg-hero-bg bg-no-repeat -z-10 absolute h-[595px] w-[660px] top-0 right-0 md:h-[690px] lg:h-[717px] lg:-right-60 lg:w-full
 }
